html,
body {
  /* background-image:url('https://i.pinimg.com/564x/cc/d2/96/ccd2965fda1b5090f7500d7753040296.jpg');
  background-repeat: no-repeat; */
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("https://wallpapercave.com/wp/wp5627160.jpg");
  /* background-image: url("https://thumbs.dreamstime.com/z/vector-illustration-anthropomorphic-panda-who-listens-to-music-device-cute-cartoon-anime-style-105310015.jpg"); */

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.player{
  background-image: url("https://www.google.com/search?q=images+cute+music&client=ubuntu&hs=kf1&channel=fs&tbm=isch&source=iu&ictx=1&fir=Dd8wI12i-OaZuM%252CkC7mr2dcgYeRWM%252C_&vet=1&usg=AI4_-kTKvrgAjYyvZKbAz-Ro4irfFnU9mg&sa=X&ved=2ahUKEwi58I-12pjuAhX7yDgGHc4HBxUQ9QF6BAgNEAE#imgrc=Dd8wI12i-OaZuM");
}

#main {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#app {
  width: 100%;
  height: 100%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}